---
interface Props {
  regions: {
    name: string;
    icon: string;
    description: string;
    href: string;
  }[];
}

const { regions } = Astro.props;
---

<div class="grid gap-2">
  {regions.map(region => (
    <div class="group/region">
      <a
        href={region.href}
        class="flex items-start gap-6 p-6 rounded-xl hover:bg-gray-50 transition-all duration-200 border border-transparent hover:border-gray-100"
      >
        <div class="flex-shrink-0 w-16 h-16 bg-primary/5 rounded-xl flex items-center justify-center text-3xl group-hover/region:scale-110 transition-transform duration-200">
          {region.icon}
        </div>
        <div class="flex-grow">
          <p class="text-lg font-medium text-gray-900 group-hover/region:text-primary transition-colors duration-200">{region.name}</p>
          <p class="text-base text-gray-600 mt-2">{region.description}</p>
        </div>
      </a>
    </div>
  ))}
</div>
