---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/new-year/Hero.astro';
import Message from '../components/new-year/Message.astro';
import Retrospective from '../components/new-year/Retrospective.astro';
import WishModal from '../components/new-year/WishModal.astro';
import ContactCTA from '../components/new-year/ContactCTA.astro';
---
<Layout image="/new-year.jpg" whiteLogo={true} title="Happy New Year 2025 - Govrn" headerTransparent={true} hideMenu={true} description="Celebrate the new year with Govrn! Looking back at our achievements in 2024 and forward to an exciting 2025. Join us in transforming board management and governance for the future.">
  <main class="overflow-hidden">
    <Hero />
    <Message />
    <Retrospective />
    <ContactCTA />
    <WishModal />
  </main>
</Layout>

<script>
  const wishButton = document.getElementById('make-wish-btn');
  const modal = document.getElementById('wish-modal');
  
  wishButton?.addEventListener('click', () => {
    modal?.classList.remove('hidden');
  });
</script>