---
import Layout from '../layouts/Layout.astro';
import TermsLayout from '../components/terms/TermsLayout.astro';
import TableOfContents from '../components/terms/TableOfContents.astro';
import TermsHeader from '../components/terms/TermsHeader.astro';
import { termsSections } from '../data/terms-sections';

import TermsContent from '../components/terms/TermsContent.astro';
const lastUpdate = "April 2021";
---

<Layout title="Terms and Conditions - Govrn" description="Please read these terms and conditions carefully before using our services.">
  <main class="pt-16">
    <TermsLayout title="Terms and Conditions">
      <TableOfContents slot="sidebar" className="hidden lg:block sticky top-24" />
      
      <div>
        <TermsHeader lastUpdate={lastUpdate} />
        {termsSections.map((section) => (
          <TermsContent key={section.key} title={section.title} sections={section.sections} />
        ))}
        
      </div>
    </TermsLayout>
    <div class="text-xs text-gray-500 text-center py-8 px-4">
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy" class="text-primary hover:text-primary/90 underline">Privacy Policy</a> and
      <a href="https://policies.google.com/terms" class="text-primary hover:text-primary/90 underline">Terms of Service</a> apply.
    </div>
  </main>
</Layout>