---
import TemplateCard from './TemplateCard.astro';

interface Props {
  templates: Array<{
    name: string;
    icon: string;
    items: Array<{
      title: string;
      type: string;
      duration: number;
    }>;
  }>;
}

const { templates } = Astro.props;
---

<div class="grid md:grid-cols-2 gap-8">
  {templates.map(template => (
    <TemplateCard {...template} />
  ))}
</div>